
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bokning</title>
    <script src="~/Scripts/daypilot-all.min.js"></script>
    <script src="~/Scripts/calendar.js"></script>
    <link href="~/Content/calendar_transparent.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/solid.min.css" rel="stylesheet" />
    <link href="~/Content/spinner.css" rel="stylesheet" />
</head>
<body>
    <button id="logOut" title="Logga ut"><i class="fas fa-sign-out-alt"></i></button>
    <div style="float:left; width: 160px;">
        <div id="nav"></div>
    </div>
    <div id="dp"></div>
</body>
</html>

<div class="spinner-overlay" style="display: none;">
    <div class="spinner">
        <div class="spinner-circle1 spinner-circle"></div>
        <div class="spinner-circle2 spinner-circle"></div>
        <div class="spinner-circle3 spinner-circle"></div>
        <div class="spinner-circle4 spinner-circle"></div>
        <div class="spinner-circle5 spinner-circle"></div>
        <div class="spinner-circle6 spinner-circle"></div>
        <div class="spinner-circle7 spinner-circle"></div>
        <div class="spinner-circle8 spinner-circle"></div>
        <div class="spinner-circle9 spinner-circle"></div>
        <div class="spinner-circle10 spinner-circle"></div>
        <div class="spinner-circle11 spinner-circle"></div>
        <div class="spinner-circle12 spinner-circle"></div>
    </div>
</div>